@{ 
    ViewData["Title"] = "Acerca del Proyecto";
}

<body class="site-wrapper">
<br/>
<h1 class="text-center">Proyecto Ultra</h1>
<br/><br/>
    <div class="container marketing site-wrapper1">
        <div class="row">
            <div class="col-md-3 col-xs-12 ">
                <div class=""><br/>
                    <img class="center-block img-circle img-responsive" src="http://www.marketingdirecto.com/wp-content/uploads/2015/10/digital-branding.png" 
                    alt="Generic placeholder image" width="140" height="140">
                    <h2 class="text-center">Trasfondo</h2>
                    <div class="text-center">
                        <small class="quote">"Las historias alimentan la imaginación" - Anónimo </small>
                        <br/><br/>
                        <p>Hace tiempo un amigo el cuál padece hemofilia, nos comentaba que no lleva un registro adecuado sobre 
                            cada cuando utilizaba su medicamento y que los doctores siempre le pedian dicho regsitro, por ello a su
                            hermana se le ocurrio entonces que podríamos llegar a una solucion que fuera fácil de usar pues los 
                            pacientes son de distintas edades y niveles socioeconómicos. </p><br/>
                        <p>Posteriormente se llevo una junta con las personas encargadas de la federación en Guadalajara, 
                            al presentar la propuesta con estas personas llegamos a la conclusión que sería un buen producto para 
                            sus pacientes y nos dieron luz verde para empezar el desarrollo.</p>
                    </div>
                </div>
            </div>  
            <div class="col-md-3 col-xs-12">
                <div class=""><br/>
                    <img class="center-block  img-circle img-responsive" src="http://www.guidoluis.com/wp-content/uploads/2009/12/Problemas3-450x450.jpg" 
                    alt="Generic placeholder image" width="140" height="140">
                    <h2 class="text-center">Problema</h2>
                    <small class="quote">"Los problemas son oportunidades para demostrar lo que se sabe." - Duke Ellington  </small>
                    <br/><br/>
                    <div class="text-center">
                        <p>Los pacientes con hemofilia deben mantener un registro de cuanto factor han estado utilizando, 
                            normalmente en papel, este registro debe presentarse al médico en su visita de rutina.</p>
                        <p>El doctor, con está información y con el numero de frascos que devuelve el paciente, determina cuantos 
                            se le deberán entregar.</p>
                        <p>El seguro social es el encargado de comprar el factor y repartirlo en la cantidad que indique cada médico.</p>
                        <p>El problema es que los mismos pacientes son muy malos en llevar un registro preciso sobre las veces 
                            que se han sumisnistrado factor, también existe un mercado negro en el que se compran frascos vacios 
                            contal de obtener más dosis.</p>
                    </div>  
                </div>        
            </div>
            <div class="col-md-3 col-xs-12">
                <div class=""><br/>
                    <img style="background-color:white" class="center-block  img-circle img-responsive" src="https://cdn3.iconfinder.com/data/icons/abstract-1/512/Inspiration_C-512.png" 
                    alt="Generic placeholder image" width="140" height="140">
                    <h2 class="text-center">Inspiración</h2>
                    <div class="text-center">
                        <small class="quote">"I'm diabetic and I'm an engineer, lets plug some wires together..." - Scott Hanselman </small>
                        <br/><br/>
                        <p>Despues de haber platicado con las personas encargadas de la federación en Guadalajara estaba listo 
                            para comenzar pero me faltaba inspiración para pensar en una solución que fuera viable, entonces recordé
                            la <a href="https://channel9.msdn.com/Events/Visual-Studio/Connect-event-2015/061">conferencia</a> de Scott 
                            Hanselman, depues de verla y volver a verla, empecé a planear y a buscar mi equipo 
                            de trabajo porque un sistema de este tipo no se puede hacer por una sola persona.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class=""><br/>
                    <img style="background-color:white" class="center-block  img-circle img-responsive" src="http://www.cloudteam.com.mx/cloudTeam/soluciones/PublishingImages/iconoSoluciones.png" 
                    alt="Generic placeholder image" width="140" height="140">
                    <h2 class="text-center">Solución</h2>
                    <div class="text-center">
                        <small class="quote">"La inspiracion es la madre de los inventos" - Anónimo </small>
                        <br/><br/>
                        <p>Crear una aplicación móvil para los pacientes, en la que con presionar solamente un botón, 
                            registren que se inyectaron factor, en el registro se les hará una serie de preguntas para poder crear 
                            un perfil médico, también podrá solicitar cita con el doctor.</p>
                        <p>Los médicos tendrán un portal en el que pueden agregar a sus pacientes, ver cada cuando se suministran 
                            factor y además podrá agendar citas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br/><br/>
    <div>
        <h3 class="text-center">Lo que piensan de nosotros </h3>
        <ul>
            <br/>
            <li><h3 class="quote" style="color:white">' ¡Buen proyecto! Muy innovador y ayudará a muchas personas' - Julia Orduño</h3></li>
            <br/>
            <li><h3 class="quote" style="color:white">'Muy buena idea, seguramente revolucionara el mundo de la medicina y cambiará la vida de muchas personas' - Constanza M.</h3></li>
            <br/>
            <li><h3 class="quote" style="color:white">'Yo invierto mi punto en el proyecto de la hemofilia, veo como han desarrollado muy bien,
                tanto web, como en la aplicación. Es un problema bastante real, y de causa social' - Raul Flores</h3></li>
            <br/>
            <li><h3 class="quote" style="color:white">'Excelente trabajo, me gusto mucho la forma en la que atacaron el problema' - Dafne Medina</h3></li>
            <br/>
            <li><h3 class="quote" style="color:white">'Voy a invertir mi punto en la pagina porque me parece que tiene un gran avance y su 
                función es relevante, ayudar de alguna manera a personas que sufren de hemofilia' - Juan A. Olvera</h3></li>
            <br/>
            <li><h3 class="quote" style="color:white">'Es un proyecto bastante prometedor' - Santiago A. Kelley</h3></li>
            <br/>
            <li><h3 class="quote" style="color:white">'Logren lo que se propongan, no me defrauden' - Michelle Sagnelli</h3></li>
            <br/>
            <li><h3 class="quote" style="color:white">'Porque es una app para ayudar a gente que necesita cuidados especificos' - Andres Quiroz</h3></li>
            <br/>
            <li><h3 class="quote" style="color:white">'Me gusta la problematica que se presenta y tambien que se trata muy bien' - Alejandro Güereca</h3></li>
            <br/>
            <li><h3 class="quote" style="color:white">'Excelente propuesta, la salud es primero' - José Nuño</h3></li>
        
        
        
    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/FpVfzPh8toI" frameborder="0" allowfullscreen></iframe>-->

</body>