@{
    ViewData["Title"] = "Evil!!";
}
<br />
<br />
<div class="row">
    <div class="col-md-10">
        <div class="row">
            <img class="image-responsive col-md-5 col-xs-5" src="http://www.renuevo.es/noticias-segunda-mano/fotos/El-nuevo-iPad-5-pronto-de-segunda-mano-3-1405450062.jpg" />
            <p style="font-size: 3em" id="bouncy">Felicidades! Ganaste un iPad!</p>
        </div>
    </div>    
</div>
<div class="row">
    <p style="font-size: 2em">Para verificar tu identidad necesitamos la siguiente información:</p>
    <form class="col-md-6">
        <div class="form-group">
            <label for="tarjetaNumero">Numero de tarjeta de credito</label>
            <input class="form-control" type="text" name="tarjetaNumero">
        </div>
        <div class="form-group">
            <label for="curp">CURP</label>
            <input class="form-control" type="text" name="curp">
        </div>
        <div class="form-group">
            <label for="telefono">Numero telefonico</label>
            <input type="tel" class="form-control">
        </div>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="~/js/evil.js" type="text/javascript"></script>
<script type="text/javascript">
    bounce();
    alertAgain("No des click en aceptar!!");
</script>