@{
    ViewData["Title"] = "Proyecto Ultra";
}
<div class="row">
    <div class="col-md-3 col-xs-12">
        <h2>Trasfondo</h2>
        <small class="quote">"Las historias alimentan la imaginación" - Anónimo</small>
        <p></p>
        <p>
            Hace ya tiempo, mi novia me comentaba que su hermano, el cuál padece hemofilia, es muy malo llevando el registro de cada cuando utilizaba su medicamento y que los doctores siempre le pedian un regsitro, 
            a ella se le ocurrio entonces que podríamos llegar a una solucion  que fuera fácil de usar pues los pacientes son de distintas edades y niveles socioeconómicos. 
        </p>
        <p>
            Posteriormente me presentó con las personas encargadas de la federación en Guadalajara, platicando con estas personas llegamos a la conclusión que sería un buen producto para sus pacientes y nos dieron luz
            verde para empezar el desarrollo.
        </p>
    </div>
    <div class="col-md-3 col-xs-12">
        <h2>Problema</h2>
        <small class="quote">"Los problemas son oportunidades para demostrar lo que se sabe." - Duke Ellington</small>
        <p></p>
        <p>
            Los pacientes con hemofilia deben mantener un registro de cuanto factor han estado utilizando, normalmente en papel, este registro debe presentarse al médico en su visita de rutina.
        </p>
        <p>
            El doctor, con está información y con el numero de frascos que devuelve el paciente, determina cuantos se le deberán entregar.
        </p>
        <p>
            El seguro social es el encargado de comprar el factor y repartirlo en la cantidad que indique cada médico.
        </p>
        <p>
            El problema es que los mismos pacientes son muy malos en llevar un registro preciso sobre las veces que se han sumisnistrado factor,
            también existe un mercado negro en el que se compran frascos vacios contal de obtener más dosis.
        </p>
    </div>
    <div class="col-md-3 col-xs-12">
        <h2>Inspiración</h2>
        <small class="quote">"I'm diabetic and I'm an engineer, lets plug some wires together..." - Scott Hanselman</small>
        <p></p>
        <p>
            Despues de haber platicado con las personas encargadas de la federación en Guadalajara estaba listo para comenzar pero me faltaba inspiración para pensar en una solución que fuera viable,
            entonces recordé la <a href="https://channel9.msdn.com/Events/Visual-Studio/Connect-event-2015/061">conferencia</a> de Scott Hanselman, depues de verla y volver a verla, empecé a planear y a buscar
            mi equipo de trabajo porque un sistema de este tipo no se puede hacer por una sola persona.
        </p>
    </div>
    <div class="col-md-3 col-xs-12">
        <h2>Solución</h2>
        <small class="quote">"La inspiracion es la madre de los inventos" - Anónimo</small>
        <p></p>
        <p>
            Crear una aplicación móvil para los pacientes, en la que con presionar solamente un botón, registren que se inyectaron factor, en el registro se les hará una serie de preguntas para poder crear un perfil médico,
            también podrá solicitar cita con el doctor.
        </p>
        <p>
            Los médicos tendrán un portal en el que pueden agregar a sus pacientes, ver cada cuando se suministran factor y además podrá agendar citas. 
        </p>
    </div>
</div>