@{
    ViewData["Title"] = "Metodologia";
}
<br/><br/><br/>
<h1 class="text-center">Implementación del Proyecto</h1>
<p class="text-center">La implementación como se puede ver es la pagina en si, <br/>con las funciones ya implementadas de
                     <br/>Registrarse, Iniciar Sesion, 
                    Registrar Paciente, Agendar Cita</p>
<br/><br/><br/>
<h1 class="text-center">Foto Tarea </h1>
<br/>
<img class="center-block img-responsive" src="https://lh3.googleusercontent.com/fnrb0yfMwhbtNGHhRhSpXbajc323uDxFJ-cruYhKXLojd4cNhydswPLjfzKyfu5lR7tOMbrjzYLynowPi8zIxxDxBv-azGzwBMSlg7hheq3lBrsnwj_hepdfv7J1UBWi6Jp6lgjEjEprfZQ4llT7BefUkoHVykaudkWP9ijkDin7E1Ra_ebhILDmQLtaTfC7Rsc2hnz3ZKir-6umjO2fneNmV_YIe4rgWZMDXe6DeOFg1VfQoypoUnT9wo3gf990q8OINi26yKUrnOSZ2uaNr9TD2C8qDr5CRyKlje2oZGBIm53kaGtt1NZB5HeEJZdKHLurAjC4opqmMsn5NJvUUuFTiOlLn0zhrc0gOEq-mBvbi-Nvrm0r6QmEgBC5nnQYheqBh-SgMpg46QV85naGSNh6YbdhzJCmLp90JRju8WxRE1ZtZlGUHcmG_vyO3aJt6DYANIcsv_NMOLO74iZtR7gzHHzieD55apri2hlRKuc9zdkic2z2-Yt3IT0H92stXJ1Ct279CeQEzKkTNKBZ3pb_WAeBnqgFC2RbGq_WA9Dy6SBcPjswKrJ7CIbeYwBA-YDM=w903-h677-no" width="400">
    
       
        