@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Metodologia Marco";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="~/images/hemofilia.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>TU APP - TU TRATAMIENTO</h1>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="~/images/mobileHealth.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Proyecto Ultra es mas que solo una idea</h1>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Acerca</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="http://www.ergentus.com/wp-content/uploads/2014/03/bigstock-healthcare-medical-and-future-50084645.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Projecto Ultra</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->

<h2>Objetivo estrategico MIA</h2>
<p></p>
<h2>Como conocer al pacientasdasdae</h2>
<p>Se buscará a un grupo de pacientes para iniciar laasdasdasdasdasds pruebas, con ellos esperamos recibir mas comentarios que puedan mejorar la interacción con la aplicacion.</p>
<h2>Como conocer al doctor</h2>
<p>Igual que con los pacientes, se buscará un grupo de doctores dispuestos a ayudarnos con sus propios pacientes, atrayendo aún mas usuarios a la plataforma.</p>
<table class="table">
    <thead>
        <tr>
            <td><h4>Costos</h4></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Costos de operación</td>
            <td>$35</td>
        </tr>
        <tr>
            <td>Costos de desarrollo</td>
            <td>$400</td>
        </tr>
        <tr>
            <td>Base de datos</td>
            <td>$80</td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <td><h4>Tareas</h4></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Registro del medico</td>
        </tr>
        <tr>
            <td>Inicio de sesion del medico</td>
        </tr>
        <tr>
            <td>Registro de pacientes</td>
        </tr>
        <tr>
            <td>Inicio de sesion del paciente en la app</td>
        </tr>
        <tr>
            <td>Revision de informacion del paciente</td>
        </tr>
        <tr>
            <td>Registro de cita</td>
        </tr>
        <tr>
            <td>Registro de dosis</td>
        </tr>
        <tr>
            <td>Modificiacion de dosis</td>
        </tr>
    </tbody>
</table>