@{
    ViewData["Title"] = "Metodologia";
}

<br/>
<h2 class="text-center"> Objetivo Estrategico </h2><br/>    
<div class="row">
    <div class="col-md-4">
        <img class="center-block img-circle img-responsive" 
        src="http://rechargetree.com/UploadImages/services/full/1.png" alt="Generic placeholder image" 
        width="140" height="140">
        <h3 class="text-center"> Generar herramientas </h3>
    </div>
    <div class="col-md-4">
        <img class="center-block img-circle img-responsive" 
        src="http://previews.123rf.com/images/kirillm/kirillm1205/kirillm120500033/13646595-Doctor-en-estrechar-la-mano-con-el-paciente-aislado-Foto-de-archivo.jpg" 
        alt="Generic placeholder image"  width="140" height="140">
        <h3 class="text-center"> Entre medicos y pacientes </h3>
   </div>
   <div class="col-md-4">
       <img  class="center-block  img-responsive" 
        src="https://d30y9cdsu7xlg0.cloudfront.net/png/624-200.png" 
        alt="Generic placeholder image"  width="140" height="140">
        <h3 class="text-center"> para una mejor gestion de medicamentos </h3>
   </div>
</div>

<br/>
<h2 class="text-center">Tareas </h2><br/>

<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-12">
        <img class="center-block" src="~/images/registro-doc.jpg" alt="Registro / Doc " width="500">
        <h3 class="text-center">Registro para el Doctor </h3>
    </div>
    <div class="col-md-6 col-lg-6 col-xs-12">
        <img class="center-block" src="~/images/sigin-doc.jpg"  width="500">
        <h3 class="text-center">Inicio de Sesion para el Doctor </h3>
    </div>
</div>

<br/><br/>
<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-12">
        <img class="center-block" src="~/images/agendarcita.jpg"  width="500">
        <h3 class="text-center">Agendar cita para el Paciente </h3>
    </div>
    <div class="col-md-6 col-lg-6 col-xs-12">
        <img class="center-block" src="~/images/registropaciente.jpg"  width="500">
        <h3 class="text-center">Registro de Pacientes </h3>
    </div>
</div>
    
       
        