@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Metodologia Marco";
}

<body class="site-wrapper">
    <br/>
    <div class="site-wrapper">
        <h2 class="text-center"> Objetivo Estrategico </h2><br/>    
        <div class="row">
            <div class="col-md-4">
                <img class="center-block img-circle img-responsive" 
                src="http://rechargetree.com/UploadImages/services/full/1.png" alt="Generic placeholder image" 
                width="140" height="140">
                <h3 class="text-center">  </h3>
            </div>
            <div class="col-md-4">
               <!-- <img  class="center-block  img-responsive img-rounded" style="background-color:white" 
                    src="https://d30y9cdsu7xlg0.cloudfront.net/png/624-200.png" 
                    alt="Generic placeholder image"  width="140" height="140">-->
                    <h3 class="text-center center-block"> Generar herramientas entre medicos y pacientes
                        para una mejor gestion de medicamentos </h3>
            </div>
            <div class="col-md-4">
                <img class="center-block img-circle img-responsive" 
                src="http://previews.123rf.com/images/kirillm/kirillm1205/kirillm120500033/13646595-Doctor-en-estrechar-la-mano-con-el-paciente-aislado-Foto-de-archivo.jpg" 
                alt="Generic placeholder image"  width="140" height="140">
                <h3 class="text-center">  </h3>
            </div>
            
        </div>
    </div>

    <br/><br/>
    <div class="site-wrapper">
        <h1 class="text-center">Tareas</h1><br/>

        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12">
                <img class="center-block" src="~/images/registro-doc.jpg" alt="Registro / Doc " width="300">
                <h3 class="text-center">Registro para el Doctor </h3>
                <p class="text-center">Registro al portal para el Doctor, <br/>para empezar a usar la app </p>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12">
                <img class="center-block" src="~/images/sigin-doc.jpg"  width="300">
                <h3 class="text-center">Inicio de Sesion para el Doctor </h3>
                <p class="text-center"> Aqui el Doctor iniciara sesión a su cuenta para <br/>tener un constante chequeo del 
                    registro <br/>sobre sus pacientes </p>
            </div>
        </div>


        <br/><br/>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <img class="center-block" src="~/images/portalDoctor.jpg"  width="300" height="230">
                <h3 class="text-center">Portal del Doctor </h3>
                <p class="text-center"> El Doctor podra tener un constante monitoreo <br/>sobre el paciente podiendo agendar 
                    una cita de acuerdo a la información presentada </p>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <img class="center-block" src="~/images/agendarcita.jpg"  width="300">
                <h3 class="text-center">Agendar cita para el Paciente </h3>
                <p class="text-center"> El Doctor podra hacer una cita con su paciente, de acuerdo al chequeo continuo
                    del paciente en el portal principal del Doctor </p>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <img class="center-block" src="~/images/registropaciente.jpg"  width="300">
                <h3 class="text-center">Registro de Pacientes </h3>
                <p class="text-center"> En esta actividad el Doctor registrara a sus propios pacientes para tener un mejor control sobre de ellos 
                    <br/>ya que debe ser un sistema controlado por los Doctores.
            </div>
        </div>
    </div>
    <br/><br/>
<div class="site-wrapper">
    <h1 class="text-center"> Conociendo al usuario </h1> <br/>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <img src="~/images/user.png" class="img-circle img-responsive center-block" width="150">
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12">
            <p class="text-center">Se realizaran pruebas a un grupo de pacientes, dispuestos a probar la app, donde podamos recibir <em>feedback</em>
                y asi poder mejorar la app y brindar un mejor servicio con ella. De primera, de acuerdo a una entrevista realizada 
                y platica con un paciente se empezo una primera implementación de acuerdo a sus necesidades y recomendaciones sobre el 
                registro del medicamento </p>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12">
            <img src="~/images/profile.png" class="img-rounded img-responsive center-block" width="150">
        </div>
    </div>
    <br/>
</div>
<br/><br/>
    <div class="site-wrapper">
        <h1 class="text-center">Costos</h1> 
        <div class="row">
            <div class="col-md-4"><p/></div>
            <div class="col-md-4">
                
                    <table class="table">
                        <thead>
                            <tr>
                                <td><h2>Descripción</h2></td>
                                <td><h2>Costos</h2></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><h4>Operación</h4></td>
                                <td><h4>$1,000.00</h4></td>
                            </tr>
                            <tr>
                                <td><h4>Desarrollo</h4></td>
                                <td><h4>$6,000.00</h4></td>
                            </tr>
                            <tr>
                                <td><h4>Base de datos</h4></td>
                                <td><h4>$2,000.00</h4></td>
                            </tr>
                            <tr>
                                <td><h4>Implementacion</h4></td>
                                <td><h4>$1,000.00</h4></td>
                            </tr>
                            <tr>
                                <td><h4>Pruebas</h4></td>
                                <td><h4>$1,000.00</h4></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            </div>
            <div class="col-md-4"><p/></div>
        </div>
</body>
