@{ 
    ViewData["Title"] = "Persona";
}
<table class="table">
    <thead>
        <tr>
            <td><h3>Demografia</h3></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Edad</td>
            <td>desde 12 años</td>
        </tr>
        <tr>
            <td>Género</td>
            <td>Mayormente hombres</td>
        </tr>
        <tr>
            <td>Tamaño de familia</td>
            <td>Entre 4 y 5 integrantes</td>
        </tr>
        <tr>
            <td>Ocupación</td>
            <td>Cualquiera, excepto aquellos que requieran un gran esfuerzo físico</td>
        </tr>
        <tr>
            <td>Educacion</td>
            <td>Mayormente graduados de universidad</td>
        </tr>
        <tr>
            <td>Geografía</td>
            <td>Cualquier parte del país</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <td><h3>Psicografico</h3></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Clase social</td>
            <td>Clase media mayormente</td>
        </tr>
        <tr>
            <td>Estilo de vida</td>
            <td>Suelen ser mas ocupados por distintas actividades que pueden tener</td>
        </tr>
        <tr>
            <td>Actividades</td>
            <td>Estudian, trabajan, hacen deporte, pasan tiempo en familia</td>
        </tr>
        <tr>
            <td>Motivaciones</td>
            <td>Su familia, su aspecto fisico</td>
        </tr>
        <tr>
            <td>Personalidad</td>
            <td>Suelen ser mas tranquilos, mas optimistas y mas fuertes</td>
        </tr>
        <tr>
            <td>Tipo de usuarios</td>
            <td>De experencia media</td>
        </tr>
    </tbody>
</table>