@{ 
    ViewData["Title"] = "Persona";
}
<!--    
    tipo de usuario: medios
    -->
<table class="table">
    <thead>
        <tr>
            <td><h3>Demografia</h3></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Edad</td>
            <td>desde 12 años</td>
        </tr>
        <tr>
            <td>Género</td>
            <td>mayormente hombres</td>
        </tr>
        <tr>
            <td>Tamaño de familia</td>
            <td>entre 4 y 5 integrantes</td>
        </tr>
        <tr>
            <td>Ocupación</td>
            <td>cualquiera, excepto aquellos que requieran un gran esfuerzo físico</td>
        </tr>
        <tr>
            <td>Educacion</td>
            <td>mayormente graduados de universidad</td>
        </tr>
        <tr>
            <td>Geografía</td>
            <td>cualquier parte del país</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <td><h3>Psicografico</h3></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Clase social</td>
            <td>clase media mayormente</td>
        </tr>
        <tr>
            <td>Estilo de vida</td>
            <td>suelen ser mas ocupados por distintas actividades que pueden tener</td>
        </tr>
        <tr>
            <td>Actividades</td>
            <td>estudian, trabajan, hacen deporte, pasan tiempo en familia</td>
        </tr>
        <tr>
            <td>Motivaciones</td>
            <td>su familia, su aspecto fisico</td>
        </tr>
        <tr>
            <td>Personalidad</td>
            <td>suelen ser mas tranquilos, mas optimistas y mas fuertes</td>
        </tr>
        <tr>
            <td>Tipo de usuarios</td>
            <td>de experencia media</td>
        </tr>
    </tbody>
</table>