@{ 
    ViewData["Title"] = "Propuesta";
}
<table class="table">
    <thead>
        <tr>
            <td><h3>Cotización</h3></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><h4>Hosting</h4></td>
            <td><p>Intentaremos conseguir el hosting.</p></td>
            <td><h4>Costo</h4></td>
            <td><p>Esperamos que sea gratuito por los acuerdos con Microsoft</p></td>
        </tr>
        <tr>
            <td><h4>Tiempo de desarrollo</h4></td>
            <td><p>entre 3 o 4 meses</p></td>
            <td><h4>Costo</h4></td>
            <td><p>Considerando 3 personas en el equipo y sus horarios de labor. dando un resultado de 15,000 pesos por persona, dando un total de 45,000</p></td>
        </tr>
        <tr>
            <td><h4>Implementacion DB</h4></td>
            <td><p>entre 1 y 2 semanas</p></td>
        </tr>
    </tbody>
</table>