@{ 
    ViewData["Title"] = "Propuesta";
}
<table class="table">
    <thead>
        <tr>
            <th><h3>Cotización</h3></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><h4>Hosting</h4></td>
            <td><p>Intentaremos conseguir el hosting.</p></td>
        </tr>
        <tr>
            <td><h4>Tiempo de desarrollo</h4></td>
            <td><p>entre 3 o 4 meses</p></td>
        </tr>
        <tr>
            <td><h4>Implementacion DB</h4></td>
            <td><p>entre 1 y 2 semanas</p></td>
        </tr>
    </tbody>
</table>