@{
    ViewData["Title"] = "Omega";
}
<div class="jumbotron">
    <div class="container">
        <h1>Sobre Omega <img src="~/images/omega.png"> </h1>
        <p>Nace como un proyecto para mantener personas conectadas con especialistas médicos en el área de la hemofilia</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Conocer más &raquo;</a></p>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Sobre Nosotros <img src="~/images/info.png"> </h2>
            <p>Comienza en el año de 2016 como una visión ambiciosa de 3 entusiastas que buscan crear una forma fácil de conectar personas con padecimiento de hemofilia y respectivos especialistas, todo a un clic de distancia. </p>
            <p><a class="btn btn-default" href="#" role="button">Ver más &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Convenios <img src="~/images/conv.png"></h2>
            <p>Se está trabajando en convenios con hospitales para poder crear una plataforma que abarque gran espacio geográfico y administrar a cada hospital con sus respectivos pacientes y doctores desde una base de datos. </p>
            <p><a class="btn btn-default" href="#" role="button">Ver más &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Contacto <img src="~/images/phone.png"> </h2>
            <p>Actualmente contamos con oficinas virtuales, para mayor información puede contactarse a los siguientes números y e-mails</br>(33) 123456, (33) 654321</br>contacto@omega.com, info@omega.com</p>
            <p><a class="btn btn-default" href="#" role="button">Ver más &raquo;</a></p>
        </div>
    </div>
    <div class="container">
        <h3>El siguiente audio es la entrevista que se le realizó a un paciente con hemofilia.</h3>
        <audio controls="controls" class="reproductor">
            <source src="~/audios/ya es el bueno.mp3" type="audio/mp3" />
        </audio>
    </div>
</div>
