
@{ 
    ViewData["Title"] = "Inicio Sesi칩n";
}
 <body class="sign-in">
     
    <div class="container">
      <form asp-controller="User" asp-action="Registro" method="post" role="form" class="form-signin">
        <h1 class="text-center">Inicio de Sesi칩n</h1>  
        
        <br/>
        <div>
        <label for="inputEmail" class="sr-only">Correo Electronico</label>
        <input type="email" id="email" class="form-control"  placeholder="Correo Electronico" required autofocus>
        </div>
        <br/>
    
        <div>
            <label for="inputEmail" class="sr-only">Contrase침a</label>
            <input type="password" id="passw" class="form-control" placeholder="Contrase침a" required autofocus>
        </div>
            
        
        <button id="go-traveler" class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesion</button>
      </form>
    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug

       
        <script src="js/ie10-viewport-bug-workaround.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script> -->

</body>

