@model PacienteUserName
@{ 
    ViewData["Title"] = "Confirmación";
}
 <body class="site-wrapper sign-in">
     <br/>
    <div class="container ">
      <form class="form-signin site-wrapper" method="post" asp-controller="Doctor" asp-action="Inicio">
        <h1 class="text-center">Se ha registrado exitosamente al paciente </h1>     
        <br/>
        <img class="center-block img-circle img-responsive" src="~/images/user.png" width="140">
        <br/>
        <h2 id="nombre-paciente"> @Model.FullUserName </h2>
        <br/> 
        <button id = "inicio" class="btn btn-lg btn-primary btn-block" type="submit">Inicio</button>
      </form>

    </div> <!-- /container -->


  </body>